{
	auto_https disable_redirects
	admin unix//run/caddy-admin/admin.sock|0666
}

http://84.247.182.209 {
	respond 404
}

http://{$ADMIN_MANAGER_PUBLIC_HOST:admin.mapa-svietidiel.sk} {
	redir https://{$ADMIN_MANAGER_PUBLIC_HOST:admin.mapa-svietidiel.sk}{uri} permanent
}

{$ADMIN_MANAGER_PUBLIC_HOST:admin.mapa-svietidiel.sk} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	reverse_proxy gymbeam-admin-manager:8080 {
		header_up X-Forwarded-For {remote_host}
	}
}

import /etc/caddy/dynamic/*.caddy
