GYMBEAM_AUTH_LOGIN=
GYMBEAM_AUTH_PASSWORD=
GYMBEAM_TELEGRAM_BOT_TOKEN=
GYMBEAM_TELEGRAM_CHAT_ID=
GYMBEAM_ADMIN_USER=
GYMBEAM_ADMIN_PASSWORD=
GYMBEAM_ADMIN_TOKEN_SECRET=
GYMBEAM_ADMIN_PORT=
GYMBEAM_ADMIN_HOST=

